# This workflow will test and lint (automated checking for errors) pushed or pulled code.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/checkout

name: Java CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  
jobs:
  build:
    runs-on: ubuntu-latest
    name: Check if tests compile cleanly with starter sources
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: "temurin" # See 'Supported distributions' for available options
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        
  lint:
      runs-on: ubuntu-latest
      name: Lint changed files 
      needs: build
      steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - name: Lint Code Base
        uses: github/super-linter@v4.7.3
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
